<mat-card-flat  fxLayout="row wrap">
<ul class="notTinyUl" *ngFor="let event of data.events; let i = index">
  <mat-card >
    <div class="container">
     <div class="headerLine">
      <span class="venue">
        {{data.events[i].competitions[0].venue.fullName}} - {{data.events[i].competitions[0].venue.address.city}},
        {{data.events[i].competitions[0].venue.address.state}}
      </span>
      <span class="quarterHeaders">
        1
      </span>
      <span class="quarterHeaders">
        2
      </span>
      <span class="quarterHeaders">
        3
      </span>
      <span class="quarterHeaders">
        4
      </span>
      <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">
      <div *ngFor="let linescore of 'data.events[i].competitions[0].competitors[0].linescores'; let j = index">
              <span *ngIf="j===3" class="quarterHeaders">
                  OT
              </span>
            <span *ngIf="j>4" class="quarterHeaders">
              {{j - 3}}OT
            </span>
            </div>
      </div>
      <span class="finalHeader">
        Total
      </span>
    </div>
    <div class="teamContainer">
      <span class="teamName" flex="40">
        {{data.events[i].competitions[0].competitors[1].team.location}}
        {{data.events[i].competitions[0].competitors[1].team.name}}
        ({{data.events[i].competitions[0].competitors[1].records[0].summary}})
      </span>
      <div class="teamScores">
        <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">
          <div *ngIf=data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[0].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[1] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[1].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[1] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[2] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[2].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[2] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[3] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[3].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[3] class="teamQtrScores">
            &nbsp;
          </div>
          <span *ngIf="event.competitions[0].competitors[0].linescores[4]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[4].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[5]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[5].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[6]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[6].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[7]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[7].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[8]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[8].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[9]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[9].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[10]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[10].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[11]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[1].linescores[11].value}}
          </span>
          <div *ngIf="event.competitions[0].competitors[0].score" class="teamFinalScores">
            {{data.events[i].competitions[0].competitors[1].score}}
          </div>
        </div>
      </div>
    </div>
    <div class="teamContainer">
      <span class="teamName">
        {{data.events[i].competitions[0].competitors[0].team.location}}
        {{data.events[i].competitions[0].competitors[0].team.name}}
        ({{data.events[i].competitions[0].competitors[0].records[0].summary}})
      </span>
      <div class="teamScores">
        <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">          
          <div *ngIf=data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[0].value}}
        </div>
        <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
          &nbsp;
        </div>
        <div *ngIf=event.competitions[0].competitors[1].linescores[1] class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[1].value}}
        </div>
        <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[1] class="teamQtrScores">
          &nbsp;
        </div>
        <div *ngIf=event.competitions[0].competitors[1].linescores[2] class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[2].value}}
        </div>
        <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[2] class="teamQtrScores">
          &nbsp;
        </div>
        <div *ngIf=event.competitions[0].competitors[1].linescores[3] class="teamQtrScores">
          {{data.events[i].competitions[0].competitors[0].linescores[3].value}}
        </div>
        <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[3] class="teamQtrScores">
          &nbsp;
        </div>
          <span *ngIf="event.competitions[0].competitors[0].linescores[4]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[4].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[5]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[5].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[6]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[6].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[7]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[7].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[8]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[8].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[9]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[9].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[10]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[10].value}}
          </span>
          <span *ngIf="event.competitions[0].competitors[0].linescores[11]" class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[11].value}}
          </span>
          <div *ngIf="event.competitions[0].competitors[0].score" class="teamFinalScores">
            {{data.events[i].competitions[0].competitors[0].score}}
          </div>
        </div>
      </div>
    </div>
    <div class="clockAndPeriod">{{data.events[i].status.type.detail}}</div>
    <div class="links">
      <div *ngIf="data.events[i].links">
        <a href="{{data.events[i].links[0].href}}">ESPN GameCast</a>
        <span *ngIf="data.events[i].links[1]"> /<a href="{{data.events[i].links[1].href}}"> Box Score</a></span>
        <span *ngIf="data.events[i].links[3]"> /<a href="{{data.events[i].links[3].href}}">Play By Play</a></span>
        <span *ngIf=event.links[4]> / <a href="{{data.events[i].links[4].href}}">Recap</a></span>
      </div>
    </div>
    <div *ngIf="data.events[i].competitions[0].competitors[1].leaders">
      <div class="leaders">
        <b>{{data.events[i].competitions[0].competitors[1].team.location}}
          {{data.events[i].competitions[0].competitors[1].team.name}} Leaders:</b><br>
          <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[0]">
            <b>{{data.events[i].competitions[0].competitors[1].leaders[0].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[1].leaders[0].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[1].leaders[0].leaders[0].displayValue}}<br>
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[1]">
        <b>{{data.events[i].competitions[0].competitors[1].leaders[1].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[1].leaders[1].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[1].leaders[1].leaders[0].displayValue}}<br>
      </span>
      <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[2]">
        <b>{{data.events[i].competitions[0].competitors[1].leaders[2].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[1].leaders[2].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[1].leaders[2].leaders[0].displayValue}}<br>
      </span>
      </div>
      <div class="leaders">
        <b>{{data.events[i].competitions[0].competitors[0].team.location}}
          {{data.events[i].competitions[0].competitors[0].team.name}} Leaders:</b><br>
          <span *ngIf="data.events[i].competitions[0].competitors[0].leaders[0]">
        <b>{{data.events[i].competitions[0].competitors[0].leaders[0].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[0].leaders[0].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[0].leaders[0].leaders[0].displayValue}}<br>
      </span>
      <span *ngIf="data.events[i].competitions[0].competitors[0].leaders[1]">
        <b>{{data.events[i].competitions[0].competitors[0].leaders[1].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[0].leaders[1].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[0].leaders[1].leaders[0].displayValue}}<br>
      </span>
      <span *ngIf="data.events[i].competitions[0].competitors[0].leaders[2]">
        <b>{{data.events[i].competitions[0].competitors[0].leaders[2].shortDisplayName}}: </b>
        {{data.events[i].competitions[0].competitors[0].leaders[2].leaders[0].athlete.fullName}}
        {{data.events[i].competitions[0].competitors[0].leaders[2].leaders[0].displayValue}}<br>
      </span>
      </div>
</div>
  </div>
  </mat-card> 

</ul>
</mat-card-flat>
<!-- 
<mat-card-flat  fxLayout="row wrap">
  <ul class="xs" *ngFor="let event of data.events; let i = index">
    <mat-card>
      <div class="xsContainer">
       <div class="headerLine">
        <span class="venue">
          {{data.events[i].competitions[0].venue.address.city}},
          {{data.events[i].competitions[0].venue.address.state}}
        </span>
        <span class="quarterHeaders">
          1
        </span>
        <span class="quarterHeaders">
          2
        </span>
        <span class="quarterHeaders">
          3
        </span>
        <span class="quarterHeaders">
          4
        </span>
        <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">
          <div *ngFor="let linescore of 'data.events[i].competitions[0].competitors[0].linescores'; let j = index">
                <span *ngIf="j===3" class="quarterHeaders">
                    OT
                </span>
              <span *ngIf="j>4" class="quarterHeaders">
                {{j - 3}}OT
              </span>
       <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[4]" class="quarterHeaders">
            OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[5]" class="quarterHeaders">
            2OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[6]" class="quarterHeaders">
            3OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[7]" class="quarterHeaders">
            4OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[8]" class="quarterHeaders">
            5OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[9]" class="quarterHeaders">
            6OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[10]" class="quarterHeaders">
            7OT
          </span>
          <span *ngIf="data.events[i].competitions[0].competitors[0].linescores[11]" class="quarterHeaders">
            8OT
          </span>
        </div>
        <span class="finalHeader">
          Total
        </span>
      </div>
      <div class="teamContainer">
        <span class="teamName" flex="40">
          {{data.events[i].competitions[0].competitors[1].team.abbreviation}}
        </span>
        <div class="teamScores">
          <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">
            <div *ngIf=data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[0].value}}
            </div>
            <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
              &nbsp;
            </div>
            <div *ngIf=event.competitions[0].competitors[1].linescores[1] class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[1].value}}
            </div>
            <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[1] class="teamQtrScores">
              &nbsp;
            </div>
            <div *ngIf=event.competitions[0].competitors[1].linescores[2] class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[2].value}}
            </div>
            <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[2] class="teamQtrScores">
              &nbsp;
            </div>
            <div *ngIf=event.competitions[0].competitors[1].linescores[3] class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[3].value}}
            </div>
            <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[3] class="teamQtrScores">
              &nbsp;
            </div>
            <span *ngIf="event.competitions[0].competitors[0].linescores[4]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[4].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[5]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[5].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[6]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[6].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[7]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[7].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[8]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[8].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[9]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[9].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[10]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[10].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[11]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[1].linescores[11].value}}
            </span>
            <div *ngIf="event.competitions[0].competitors[0].score" class="teamFinalScores">
              {{data.events[i].competitions[0].competitors[1].score}}
            </div>
          </div>
        </div>
      </div>
      <div class="teamContainer">
        <span class="teamName">
          {{data.events[i].competitions[0].competitors[0].team.abbreviation}}
        </span>
        <div class="teamScores">
          <div *ngIf="data.events[i].competitions[0].competitors[0].linescores">          
            <div *ngIf=data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[0].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[0] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[1] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[1].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[1] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[2] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[2].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[2] class="teamQtrScores">
            &nbsp;
          </div>
          <div *ngIf=event.competitions[0].competitors[1].linescores[3] class="teamQtrScores">
            {{data.events[i].competitions[0].competitors[0].linescores[3].value}}
          </div>
          <div *ngIf=!data.events[i].competitions[0].competitors[1].linescores[3] class="teamQtrScores">
            &nbsp;
          </div>
            <span *ngIf="event.competitions[0].competitors[0].linescores[4]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[4].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[5]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[5].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[6]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[6].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[7]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[7].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[8]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[8].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[9]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[9].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[10]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[10].value}}
            </span>
            <span *ngIf="event.competitions[0].competitors[0].linescores[11]" class="teamQtrScores">
              {{data.events[i].competitions[0].competitors[0].linescores[11].value}}
            </span>
            <div *ngIf="event.competitions[0].competitors[0].score" class="teamFinalScores">
              {{data.events[i].competitions[0].competitors[0].score}}
            </div>
          </div>
        </div>
      </div>
      <div class="clockAndPeriodxs">{{data.events[i].status.type.detail}}</div>
      <div *ngIf="data.events[i].competitions[0].competitors[1].leaders">
        <div class="leaders">
          <b>{{data.events[i].competitions[0].competitors[1].team.abbreviation}} Leaders:</b><br>
            <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[0]">
              <b>{{data.events[i].competitions[0].competitors[1].leaders[0].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[1].leaders[0].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[1].leaders[0].leaders[0].displayValue}}<br>
            </span>
            <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[1]">
          <b>{{data.events[i].competitions[0].competitors[1].leaders[1].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[1].leaders[1].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[1].leaders[1].leaders[0].displayValue}}<br>
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[1].leaders[2]">
          <b>{{data.events[i].competitions[0].competitors[1].leaders[2].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[1].leaders[2].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[1].leaders[2].leaders[0].displayValue}}<br>
        </span>
        </div>
        <div class="leaders">
          <b>{{data.events[i].competitions[0].competitors[0].team.abbreviation}} Leaders:</b><br>
            <span *ngIf="data.events[i].competitions[0].com petitors[0].leaders[0]">
          <b>{{data.events[i].competitions[0].competitors[0].leaders[0].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[0].leaders[0].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[0].leaders[0].leaders[0].displayValue}}<br>
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[0].leaders[1]">
          <b>{{data.events[i].competitions[0].competitors[0].leaders[1].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[0].leaders[1].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[0].leaders[1].leaders[0].displayValue}}<br>
        </span>
        <span *ngIf="data.events[i].competitions[0].competitors[0].leaders[2]">
          <b>{{data.events[i].competitions[0].competitors[0].leaders[2].shortDisplayName}}: </b>
          {{data.events[i].competitions[0].competitors[0].leaders[2].leaders[0].athlete.shortName}}
          {{data.events[i].competitions[0].competitors[0].leaders[2].leaders[0].displayValue}}<br>
        </span>
        </div>
      </div>
    </div>
    </mat-card>
  
  </ul>
  </mat-card-flat> -->